node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env*.local

# macOS
.DS_Store

# credentials
credentials.json
google-services.json*

# fastlane
gc_keys.json
fastlane/report.xml
.env
*.dSYM.zip

# build artifacts (compiled applications from build commands)
*.apk
*.aab
*.ipa
instances.json

