node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.env*.local

# credentials
credentials.json
google-services.json*

# build artifacts (compiled applications from build commands)
*.apk
*.aab
*.ipa
