node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# ignore build folders created by expo prebuild
android/
ios/

.env*.local

# credentials
credentials.json
google-services.json
