@import 'tailwindcss';
@import 'uniwind';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-hairline {
    height: hairlineWidth();
  }
  .w-hairline {
    width: hairlineWidth();
  }
}
