<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aps-environment</key>
    <string>development</string>
    <key>com.apple.developer.associated-domains</key>
    <array>
      <string>applinks:app.wafrn.net</string>
      <string>applinks:bark.wolp.chat</string>
      <string>applinks:meowing.men</string>
      <string>applinks:homestuck.fr</string>
      <string>applinks:wafrn.vaguely.art</string>
      <string>applinks:waffles.baeddel.social</string>
      <string>applinks:vifrn.vilant.org</string>
      <string>applinks:problemeowtic.net</string>
      <string>applinks:rotkap.net</string>
      <string>applinks:gabboman.xyz</string>
      <string>applinks:waf.c00lest-kats-on.ovh</string>
      <string>applinks:wafrn.is-hardly.online</string>
      <string>applinks:wafrn.adamski2003.lol</string>
      <string>applinks:tokyonight.city</string>
      <string>applinks:wf.jbc.lol</string>
      <string>applinks:irminsul.cc</string>
      <string>applinks:club.endormis.cat</string>
      <string>applinks:wafrn.jcm.re</string>
      <string>applinks:fedi.ip-logger.com</string>
      <string>applinks:wicwafren.com</string>
      <string>applinks:social.sztupy.hu</string>
      <string>applinks:wafrn.k1ba.eu</string>
      <string>applinks:t.tenpi.li</string>
      <string>applinks:fright.tomb.download</string>
      <string>applinks:wafrn.lonewolf.zone</string>
      <string>applinks:dragonite.blog</string>
      <string>applinks:social.stg.sztupy.hu</string>
    </array>
    <key>com.apple.security.application-groups</key>
    <array>
      <string>group.dev.djara.wafrn-rn</string>
    </array>
  </dict>
</plist>